/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 22, 2022, 12:01:39 PM
    Author     : trung
*/
body{
    margin-top:20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial;
}
table{
    width: 100%;

}
table th{
    height: 60px;
    width: 100px;
    background-color: #f1cfa8;
}
table td{
    text-align: center;
    height: 50px;
    width: 100px;
    background-color: #f3e2cf;
}